body {
    visibility: hidden;
    margin: 0;
}

button {
    position: absolute;
    top: 0;
    right: 0;
}

div[slot="tabs"] {    
    padding: 0.2em 0.3em;
}

div[slot="tabs"][active] {
    background: darkgrey;
}

quantum-layout {
    height: 100%;
}

quantum-editor {
    background: lightgrey;
}

quantum-region {
    --border: 1px dashed white;
}