body {
    visibility: hidden;
    margin: 0;
}

quantum-editor {
    background-color: lightgrey;
}

quantum-tab {    
    --padding: 0.2em 0.3em;
}

quantum-tab[active] {
    --background-color: darkgrey;
}

quantum-region {
    --border: 1px dashed white;
}